*{
  margin:0px;
  padding:0px;
}

body {
    margin: 0;
    padding: 20px;
    background: #e0e0e0;
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 20px;
  }

  .player {
    order: 1;
    width: 400px;
    height: 200px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 8px 8px 16px #bebebe,
                -8px -8px 16px #ffffff;
    text-align: center;
    margin-right: 20px;
    margin-top: 150px;
  }
  

  h2 {
    margin: 10px 0;
  }

  input[type="range"] {
    width: 100%;
    margin: 10px 0;
  }

  .controls button {
  border: none;
  padding: 14px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow:
    5px 5px 10px #bebebe,
   -5px -5px 10px #ffffff;
  cursor: pointer;
  transition: all 0.15s ease;
  margin:10px;
}

.controls button:active {
  box-shadow:
    inset 5px 5px 10px #bebebe,
    inset -5px -5px 10px #ffffff;
}

  .episodes {
    order: 2;
    flex:1;
    width: 250px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 100px;
  }

  .episode {
  padding: 15px;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow:
    6px 6px 12px #bebebe,
   -6px -6px 12px #ffffff;
  cursor: pointer;
  transition: box-shadow 0.50s ease, transform 0.1s ease;
}

  .episode:hover {
  box-shadow:
    inset 6px 6px 12px #bebebe,
    inset -6px -6px 12px #ffffff;
  transform: scale(0.98);
}

  .episode small {
    color: #555;
  }
  .episode:active{
    background-color: #b1b1b1;
  }

 input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-top:30px;
  margin-bottom:30px;
  height: 6px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    #4a4a4a 0%,
    #4a4a4a 50%,
    #d0d0d0 50%,
    #d0d0d0 100%
  );
  outline: none;
}

h1{
    position:absolute;
}

@media screen and (max-width:800px) {
  .player{
      width: 280px;
  }
}

@media screen and (orientation: portrait) {
  body {
    display: block;
    justify-content:center;
  }

  .player{
    width: 280px;
  }
}










